.fundo {
    background-color: #eaf4f4;
    font-family: sans-serif;

}
.campo-adm > button{
    background-color: #6b9080;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    color: #f6fff8;
    border: 0;
    outline: 0;  

}
.fundo {
    background-color: #eaf4f4;
    font-family: sans-serif;

}
.campo{
    box-shadow: 1px 1px 5px #80cebd;
    padding: 30px;
    background-color: #eaf4f4;
    border-radius: 5px;

}
.form {
    width: 400px;
    margin: auto;
    padding: 80px;
}
.campo-top{
    text-align: center;

}