.fundo-cadastroSecret{
    background-color: #eaf4f4;
    font-family: sans-serif;
}
.campo{
    box-shadow: 1px 1px 5px #80cebd;
    padding: 30px;
    background-color: #eaf4f4;
    border-radius: 5px;

}
.form {
    width: 600px;
    margin: auto;
    padding: 80px;
}
.campo-top{
    text-align: center;

}
.campo-cadastro{
    margin-bottom:  10px;

}
.campo-cadastro > label {
    width: 100%;
    color: #194b21;
    display: block;

}
.campo-cadastro > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 30px;
    padding: 5px;
}
.campo-cadastro > button{
    background-color: #6b9080;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    color: #f6fff8;
    border: 0;
    outline: 0;  

}
