<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Área do Administrado</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="X-UA-Compatible" content="pt_br"/>
    <link rel="stylesheet" href="CSS/style-adm.css">
    <link rel="stylesheet" href="CSS/style-cadastro.css">
</head>
<body>
<div class="grid-topo">
    <p> Área restrita do Administrador</p>
    <img class="imgUser" src="images/user.png" alt="">Usuário:
    <div>
        <a href="areaAdm.html">Inicio</a>
    </div>
    <div>
        <a href="index.php">Sair</a>
    </div>
</div>
<div class="navbar">
    <div>
        <a href="cadastrarUser.html">Cadastrar Usuário</a>
    </div>
    <div>
        <a href="addProtocolo.html">Novo Protocolo</a>
    </div>
    <div>
        <a href="#">Avaliar Protocolo</a>
    </div>
    <div>
        <a href="#">Protocolos Pendentes</a>
    </div>
    <div>
        <a href="#">Protocolos concluídos</a>
    </div>
    <div>
        <a href="#">Atribuir parecerista</a>
    </div>
</div>
</body>
</html>