.fundo-cadastroSecret {
    background-color: #eaf4f4;
    font-family: sans-serif;
}

.campo {
    box-shadow: 1px 1px 5px #80cebd;
    padding: 20px;
    border-radius: 5px;
}

.form {
    width: 600px;
    margin: auto;
    padding: 80px;
}

.campo-top {
    text-align: center;
}

.campo-cadastro {
    margin-bottom: 10px;
}

.campo-cadastro>label {
    width: 100%;
    color: #194b21;
    display: block;
}

.campo-cadastro>input {
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 30px;
    padding: 5px;
}

.campo-cadastro>button {
    background-color: #6b9080;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    color: #f6fff8;
    border: 0;
    outline: 0;
}


/* Setor */


/* body {
    margin: 0;
    display: flex;
    background-color: white;
} */


/* NavBar */

.navbar {
    /* display: inline; */
    position: fixed;
    width: 15%;
    height: 100%;
    background-color: #eaf4f4;
    margin: 0%;
    padding: 0%;
    box-shadow: 3px 3px 7px;
    float: right;
}

.navbar div {
    display: flex;
    padding: 10%;
    /* border: 0px; */
    border-right: 15px;
    border-style: solid;
    border-color: #6b9080;
    height: 20px;
    align-items: center;
    margin-bottom: 30px;
    background-color: #eaf4f4;
}

.navbar div i {
    width: 25%;
    font-size: 150%;
    text-align: left;
    color: #6b9080;
}

.navbar div a {
    flex-grow: 1;
    color: #070707;
    font-size: 100%;
    font-weight: 300;
    text-decoration: none;
}

.navbar div:hover {
    background-color: #6b9080;
    color: rgb(0, 0, 0);
}

select {
    background-color: white;
    border: thin solid #ffff;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select.classic {
    background-image: linear-gradient(45deg, transparent 50%, #ffff 50%), linear-gradient(135deg, #ffff 50%, transparent 50%), linear-gradient(to right, #6b9080, #6b9080);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
}

select.classic:focus {
    background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), linear-gradient(to right, gray, gray);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
}